# Workflow to validate all the JSON schemas present

name: Validate Schemas

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    
  # Allows us to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  # This workflow contains a single job called "build"
  validate:
    runs-on: ubuntu-latest

    steps:
      # Checks-out our repository under $GITHUB_WORKSPACE
      - uses: actions/checkout@v3

      - name: List schema files
        run: echo $GITHUB_WORKSPACE

      # Install node so we can validate JSON schemas
      - uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install Json Schema validator ajv
        run: npm install --global ajv-cli

      - name: Test ajv
        run: ajv help
